<launch>
	
	<arg name="show_image" default="1" />
	
    <rosparam file="$(find infnet)/cfg/mask_params.yaml" />
	
    <node name="get_point_message" 
        pkg="infnet" 
        type="get_point_from_message.py"
        output="screen"
        args="$(arg show_image)">

	<remap from="image_raw" to="/drone/front_camera/image_raw"/>
	<remap from="goal_centroid" to="/drone/front_camera/img_centroid"/>
	<remap from="goal_base" to="/drone/down_camera/img_base"/>

	</node>
	
</launch>
